
body{
    font-family: inter;
    margin-top: 60px;
}


div{
    border: solid rgb(211, 211, 211); border-radius: 0.5cm;
}

nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 0%;
    height: 50px;
    background-color: brown;
}

nav .logo{
    float: left;
    width: 15%;
    height: 100%;
    display:flex;
    align-items: center;
    font-size: 24px;
    color: aliceblue;
    font-weight: bold;
    
}

nav .list{
    float: left;
    padding: 0;
    margin: 0;
    width: 5%;
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

nav .list2{
    float: right;
    padding: 0;
    margin: 0;
    
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .list li{
    list-style: none
}

nav .list a{
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: 0;
}

nav .list a:hover{
    border-bottom: 4px solid chocolate
}

nav .list2 li{
    list-style: none
}

nav .list2 a{
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: 0;
}

nav .list2 a:hover{
    border-bottom: 4px solid chocolate;
}







#Contenedor1_Inicio{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    justify-content: center;
    height: 500px;
    width: 100%;
}

#Contenedor1_Inicio h1{
font-weight: bold ;
font-size: 4em;
}

#SubContenedor1_L_Título{
    margin-top: 0;
}

#SubContenedor1_Letras{
    margin-left: 2%;
}

#SubContenedor1_L_Descripcion{
    font-size: 1.1em;
}

#SubContenedor2_Imagen{
    padding-left: 50%;
    border-color: black;
    border-width: 2px;
    background-image: linear-gradient( to right, rgb(0, 0, 0) 2.5%, rgba(0,0,0,0)20%), url(imágenes/messi_conlacopita_2.jpg);
    background-size: cover;
    background-position: center;
}

.boton_pri{
    font-family: inter;
    font-weight: bold;;
    background-color: brown;
    color: aliceblue;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    border-radius: 0px;
    border-color: brown;
    font-size: 1em;
}

#SubContenedor1_L_boton{
    margin-top: 10px;
}

#boton_auxiliar_1{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#panel_de_partidos_vert{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.filtro_botones{
    display: flex;
    flex-direction: column;
    margin-left:1.5%;
    width: 10%;
    justify-content: center;
}

.filtro_botones button{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.LEFT{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LEFT button{
    height: 100%;
}

.RIGHT{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RIGHT button{
    height: 100%;
}

.carrusel_de_partidos{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.slide{
    width: 50%;
    height: 100%;
}

.index_home{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
    column-gap: 1px;
    margin-top: 10px;
}

.columnX  {
    margin-left: 10%;
    display: grid;
    row-gap: 10%;
    
}



.columnY{
    margin-left: 10%;
    margin-right: 10%;
}

.columnZ{
    margin-right: 10%;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#Parte1_footer{
   
    
}

#Parte2_footer{

}

#redes_foot{
    display: flex; 
   
}

#recomendaciones_foot{
    display: flex;
}
