
body{
    font-family: inter;
}


div{
    border: solid rgb(211, 211, 211); border-radius: 0.5cm;
}

nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 0%;
    height: 50px;
    background-color: brown;
}

nav .logo{
    float: left;
    width: 15%;
    height: 100%;
    display:flex;
    align-items: center;
    font-size: 24px;
    color: aliceblue;
    font-weight: bold;
    
}

nav .list{
    float: left;
    padding: 0;
    margin: 0;
    width: 5%;
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

nav .list2{
    float: right;
    padding: 0;
    margin: 0;
    
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .list li{
    list-style: none
}

nav .list a{
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: 0;
}

nav .list a:hover{
    border-bottom: 4px solid chocolate
}

nav .list2 li{
    list-style: none
}

nav .list2 a{
    display: block;
    
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: 0;
}

nav .list2 a:hover{
    border-bottom: 4px solid chocolate
}


na

#Paquete_de_3_columnas{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#boton_auxiliar_1{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#Parte1_footer{
   
    
}

#Parte2_footer{

}

#redes_foot{
    display: flex; 
   
}

#recomendaciones_foot{
    display: flex;
}

#Parte3_footer{
    
}